---
import type { CollectionEntry } from 'astro:content'
import PostPreview from './PostPreview.astro'

interface Props {
  posts: CollectionEntry<'posts'>[]
}

const { posts } = Astro.props
---

<section>
    {
        posts.length == 0 
            ? <p>No posts yet.</p>
            : posts.map((post) => (<PostPreview post={post} />))
    }
</section>