---
import BaseHead, { type Props as HeadProps } from '@/components/BaseHead.astro'
import Header from '@components/Header/Header.astro'
import Footer from '@components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'
import '../styles/global.css'

type Props = HeadProps

const { ...head } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead {...head} />
        <ViewTransitions />
    </head>
    <body class="flex flex-col bg-base text-base">
        <Header />
        <main class="max-w-screen-xl mx-auto px-6">
            <slot />
        </main>
        <Footer />
    </body>
</html>